<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7aUyLs-Z8d0wZRXzYBBrpXaoLOF69VyI</string>
	<key>GCM_SENDER_ID</key>
	<string>864149348911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comet</string>
	<key>PROJECT_ID</key>
	<string>comet-test-34257</string>
	<key>STORAGE_BUCKET</key>
	<string>comet-test-34257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864149348911:ios:13c3fa18a3cf0b93d51cda</string>
</dict>
</plist>